#particles-js {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: center center;
	background-image: url(../img/home.jpg)
}
#preloader {
	background-color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999
}
#status {
	background-image: url("../img/preloader.gif");
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -35px;
	margin-left: -35px
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0
}
input[type="number"] {
	-moz-appearance: textfield
}
.row,
.container-fluid {
	margin-left: 0px !important;
	margin-right: 0px !important
}
.caption {
	position: absolute;
	top: 38%;
	width: 100%;
	color: white;
	text-align: center
}
.caption h1 {
	color: #ffab00;
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	text-shadow: .2rem .2rem 1rem black;
	padding-bottom: 1rem
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto Slab", serif
}
p,
span,
dt,
form {
	font-family: "Roboto", sans-serif
}
dt {
	font-weight: normal
}
dd {}#rsPage2 small {
	float: right
}
#wlPage2 small {
	float: right
}
.select2 {
	width: 100% !important
}
.select2-selection__rendered {
	line-height: 31px !important
}
.select2-container .select2-selection--single {
	height: 38px !important
}
.select2-selection__arrow {
	height: 34px !important
}
.swal2-html-container {
	text-align: left
}
.head1 {
	font-family: 'Lobster', serif
}
.hotOut th {
	white-space: normal;
	background-color: #a5d6a7
}
.hotOut .ht_master tr:nth-of-type(even)>td {
	background-color: #e8f5e9
}
.hotOut .ht_clone_top_left_corner th {
	background-color: #81c784
}
.leaflet {
	height: 100%;
	width: 100%
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px
}
.info h4 {
	margin: 0 0 5px;
	color: #777
}
.legend {
	line-height: 18px;
	color: #555
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7
}
#div_head1 {
	background: linear-gradient(-45deg, #00b8d4, #00bfa5)
}
#div_head2 {
	background: linear-gradient(-45deg, #6200ea, #304ffe)
}
#bg_tool1 {
	background-color: #64ffda;
	background-image: url("../img/Texture/black-felt.png")
}
#bg_tool2 {
	background-color: #8c9eff;
	background-image: url("../img/Texture/dark-mosaic.png")
}
.card-header img {
	position: absolute;
	height: 80px;
	width: 80px;
	object-fit: cover;
	top: -40px;
	left: 0;
	border: solid 2px white;
	border-radius: 50%
}
.card_input .card-header,
.card_input img {
	background-color: #5d4037;
	background-image: url("../img/Texture/brushed-alum.png")
}
.card_output .card-header,
.card_output img {
	background-color: #455a64;
	background-image: url("../img/Texture/brushed-alum.png")
}
.arrow {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.arrow span {
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 5px solid #ffab00;
	border-right: 5px solid #ffab00;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite
}
.arrow span:nth-child(2) {
	animation-delay: -0.2s
}
.arrow span:nth-child(3) {
	animation-delay: -0.4s
}
@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px)
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px)
	}
}
._table {
	background-color: #388e3c;
	border-color: #388e3c
}
._table:hover {
	background-color: #1b5e20;
	border-color: #1b5e20
}
._btnHead {
	border-radius: 20px;
	box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2)
}
footer {
	background-color: #4b515d;
	border-radius: 25% 25% 0 0;
	background-image: url("../img/Texture/purty-wood.png");
	box-shadow: 0 -4px 4px 2px rgba(0, 0, 0, 0.5)
}
.LI-profile-badge {
	box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.5)
}
footer p {
	color: #ffe082;
	font-size: 1.25rem;
	text-decoration: bold;
	text-align: center
}
footer a {
	color: #ffe082;
	font-size: 1.25rem;
	text-decoration: underline
}